.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #fafafa;
  border-right: 1px solid #e0e0e0;
  display: flex;
  flex-direction: column;

  &__header {
    padding: 20px 16px;
    border-bottom: 1px solid #e0e0e0;

    h3 {
      margin: 0;
      font-size: 18px;
      color: #333;
    }
  }

  &__item {
    &.Mui-selected {
      background-color: #e3f2fd !important;
      border-left: 3px solid #1976d2;
    }
  }
}
